# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build outputs
dist/
build/
out/
.next/
.nuxt/
.svelte-kit/
.cache/
.parcel-cache/
tmp/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables (sensitive information)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# TypeScript cache
*.tsbuildinfo

# Linter caches
.eslintcache
.stylelintcache

# IDEs/Editors
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini